{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h2>Sign Up Today!</h2>
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control w-25 border-dark" name="username" style="background-color: transparent;">
        <div id="emailHelp" class="form-text">We'll never share your user name with anyone else.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control w-25 border-dark" name="password1"
            style="background-color: transparent;">
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control w-25 border-dark" name="password2"
            style="background-color: transparent;">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>

</form>



{% endblock %}