{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

{% load staticfiles %}

<h1>Hunt your product!!</h1>
<form id="save" method="POST" action="{% url 'saveedit' product.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control w-25" name="title" value="{{ product.title }}">
    </div>
    <div class="mb-3">
        <label class="form-label">Body</label>
        <textarea type="textbox" class="form-control w-50 " rows="5" name="body">{{ product.body }}</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">URL</label>
        <input type="text" class="form-control w-25" name="url" value="{{ product.url }}">
    </div>
    <div class="mb-3">
        <label class="form-label">Icon</label>
        <input type="file" class="form-control w-25" name="icon">
    </div>
    <div class="mb-3">
        <label class="form-label">Image</label>
        <input type="file" class="form-control w-25" name="image">
    </div>
</form>

<span>
    <a href="javascript:{document.getElementById('save').submit()}">
        <button class="btn btn-light">
            <img src="{% static 'save.png' %}" height=20 width=20 /> &nbsp;&nbsp; Save
        </button>
    </a>
</span>

&nbsp;&nbsp;

<span>
    <a href="javascript:{document.getElementById('cancel').submit()}">
        <button class="btn btn-light">
            <img src="{% static 'cancel.png' %}" height=20 width=20 /> &nbsp;&nbsp; Cancel
        </button>
    </a>
</span>




<form id="cancel" action="{% url 'saveedit' product.id %}">
    {% csrf_token%}
    <input type="hidden">
</form>

{% endblock %}