{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>Welcome back, {{ user.username }}</h1>
{% else %}
<h1>Welcome to Product Hunt Website</h1>
{% endif %}


{% load staticfiles %}

<script src="{% static 'products/script.js' %}"></script>

{% for product, upvoted in list %}
<br />
<br />

<div class="row" style="cursor: pointer">
    <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';">
        <img src="{{ product.icon.url }}" class="img-fluid" />
    </div>
    <div class="col-6" onclick="window.location='{% url 'detail' product.id %}';">
        <h2>{{ product.title }}</h2>
        <p>{{ product.summary }}</p>
    </div>

    {% if upvoted == False %}
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}">
            <button class="btn btn-primary btn-lg btn-block">
                <img src="{% static 'arrow.png' %}" height=20 width=20 /> &nbsp;&nbsp; Upvote {{ product.votes_total }}
            </button>
        </a>
    </div>

    {% else %}
    <div class="col-4">
        <button class="btn btn-secondary btn-lg btn-block">
            <img src="{% static 'arrow.png' %}" height=20 width=20 /> &nbsp;&nbsp; Upvote {{ product.votes_total }}
        </button>
    </div>

    {% endif %}
</div>

<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvotehome' product.id %}">
    {% csrf_token%}
    <input type="hidden">
</form>
{% endfor %}
{% endblock %}