{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    {% if user.is_authenticated %}
    <h2>Welcome back, {{ user.username }}</h2>
    {% else %}
    <h2>App Reviews You Can Trust</h2>
    {% endif %}
</div>



{% load staticfiles %}

<script src="{% static 'products/script.js' %}"></script>

<div class='product-list'>

</div>
{% endblock %}

{% block javascript %}
<script>
    //initial UI after rendering
    let productsJSON = JSON.parse('{{ productsJSON|escapejs }}');
    let upvoted = JSON.parse('{{ upvoted|safe }}');
    let upvoteNums = JSON.parse('{{ upvote_nums|safe }}');
    let prodSum = JSON.parse('{{ prodsum|escapejs }}');

    // add additional object
    productsJSON.forEach((element, i) => {
        element.upvoted = upvoted[i];
        element.upvoteNums = upvoteNums[i];
        element.summary = prodSum[i];
    });

    const updateUI = function () {
        // sort
        productsJSON.sort((a, b) => a.upvoteNums - b.upvoteNums);


        // replace and insert html
        $('.product-list').html("");
        for (let i = 0; i < productsJSON.length; i++) {
            $('.product-list').prepend(
                `
<br />
<br />

<div class="row" style="cursor: pointer">
    <div class="col-2" onclick="window.location='/products/${productsJSON[i].pk}'">
        <img src="/media/${productsJSON[i].fields.icon}" class="img-fluid" />
    </div>
    <div class="col-6" onclick="window.location='/products/${productsJSON[i].pk}'">
        <h3>${productsJSON[i].fields.title}</h3>
        <p>${productsJSON[i].summary}</p>
    </div>

    <div class="col-4">
        <a href="" class="upvote" id="upvote${productsJSON[i].pk}" url="/products/${productsJSON[i].pk}/upvotehome">
            <button class="btn btn-primary btn-lg btn-block btn-responsive">
                <img src="/static/arrow.png" height=20 width=20 /> &nbsp;&nbsp; Upvote
                <span id="blue${productsJSON[i].pk}">${productsJSON[i].upvoteNums}</span>
            </button>
        </a>

        <a href="" class="deupvote" id="deupvote${productsJSON[i].pk}" url="/products/${productsJSON[i].pk}/deupvotehome" hidden>
            <button class="btn btn-secondary btn-lg btn-block btn-responsive">
                <img src="/static/arrow.png" height=20 width=20 /> &nbsp;&nbsp; Upvote
                <span id="grey${productsJSON[i].pk}">${productsJSON[i].upvoteNums}</span>
            </button>
        </a>
    </div>
</div>

            `);

            if (productsJSON[i].upvoted === true) {
                document.getElementById(`upvote${productsJSON[i].pk}`).hidden = true;
                document.getElementById(`deupvote${productsJSON[i].pk}`).hidden = false;
            }
        }
    };

    updateUI();


    jQuery(function ($) {
        $('.product-list').on('click', '.upvote', function (e) {
            e.preventDefault();
            const pk = Number(e.currentTarget.id.replace('upvote', ''));
            $.ajax({
                type: "POST",
                url: $(this).attr("url"),
                data: { csrfmiddlewaretoken: window.CSRF_TOKEN },
                success: function (data) {
                    const arrIndex = productsJSON.map(element => element.pk).indexOf(pk);
                    productsJSON[arrIndex].upvoteNums = data['upvotesnum'];
                    productsJSON[arrIndex].upvoted = true;
                    updateUI();
                },
                error: function () {
                    window.location.href = "/accounts/signup"
                },
            })
        });

        $('.product-list').on('click', '.deupvote', function (e) {
            e.preventDefault();
            const pk = Number(e.currentTarget.id.replace('deupvote', ''));
            $.ajax({
                type: "POST",
                url: $(this).attr("url"),
                data: { csrfmiddlewaretoken: window.CSRF_TOKEN },
                success: function (data) {
                    const arrIndex = productsJSON.map(element => element.pk).indexOf(pk);
                    productsJSON[arrIndex].upvoteNums = data['upvotesnum'];
                    productsJSON[arrIndex].upvoted = false;
                    updateUI();
                },
                error: function () {
                    window.location.href = "/accounts/signup"
                },
            })
        });

    });
</script>
{% endblock %}